# Dependency folders
node_modules
.next

# Environment variables and configs
.env

# Git
.git
.gitignore

# Docker and deployment files
Dockerfile
docker-compose.yml

# Logs and OS files
*.log
*.DS_Store
